################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.AssemblyInfo.cs
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.AssemblyInfoInputs.cache
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.assets.cache
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.csproj.AssemblyReference.cache
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.csproj.CoreCompileInputs.cache
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.csproj.FileListAbsolute.txt
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.dll
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/PersonDirectory.Persistence/bin/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDirectory.Persistence/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory.Persistence/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory.Persistence/bin/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDirectory.Persistence/bin/Debug/net8.0/PersonDirectory.Domain.pdb
/PersonDirectory.Persistence/bin/Debug/net8.0/PersonDirectory.Persistence.dll
/PersonDirectory.Persistence/bin/Debug/net8.0/PersonDirectory.Persistence.pdb
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.AssemblyInfo.cs
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.AssemblyInfoInputs.cache
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.assets.cache
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.csproj.AssemblyReference.cache
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.csproj.CoreCompileInputs.cache
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.csproj.FileListAbsolute.txt
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.dll
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.pdb
/PersonDirectory.Infrastructure/obj/Debug/net8.0/PersonDirectory.Infrastructure.sourcelink.json
/PersonDirectory.Infrastructure/obj/Debug/net8.0/refint/PersonDirectory.Infrastructure.dll
/PersonDirectory.Infrastructure/obj/PersonDirectory.Infrastructure.csproj.nuget.dgspec.json
/PersonDirectory.Infrastructure/obj/PersonDirectory.Infrastructure.csproj.nuget.g.props
/PersonDirectory.Infrastructure/obj/PersonDirectory.Infrastructure.csproj.nuget.g.targets
/PersonDirectory.Infrastructure/obj/project.assets.json
/PersonDirectory.Infrastructure/obj/project.nuget.cache
/PersonDirectory.Infrastructure/bin/Debug/net8.0/ka-GE/PersonDirectory.Application.resources.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Application.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Application.pdb
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Common.Application.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Common.Application.pdb
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Domain.pdb
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Infrastructure.deps.json
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Infrastructure.dll
/PersonDirectory.Infrastructure/bin/Debug/net8.0/PersonDirectory.Infrastructure.pdb
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.AssemblyInfo.cs
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.AssemblyInfoInputs.cache
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.assets.cache
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.csproj.AssemblyReference.cache
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.csproj.CoreCompileInputs.cache
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.csproj.FileListAbsolute.txt
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.csproj.GenerateResource.cache
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.GeneratedMSBuildEditorConfig.editorconfig
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.pdb
/PersonDirectory.Domain/obj/Debug/net8.0/PersonDirectory.Domain.sourcelink.json
/PersonDirectory.Domain/obj/Debug/net8.0/refint/PersonDirectory.Domain.dll
/PersonDirectory.Domain/obj/PersonDirectory.Domain.csproj.nuget.dgspec.json
/PersonDirectory.Domain/obj/PersonDirectory.Domain.csproj.nuget.g.props
/PersonDirectory.Domain/obj/PersonDirectory.Domain.csproj.nuget.g.targets
/PersonDirectory.Domain/obj/project.assets.json
/PersonDirectory.Domain/obj/project.nuget.cache
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.AssemblyInfo.cs
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.AssemblyInfoInputs.cache
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.assets.cache
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.csproj.AssemblyReference.cache
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.csproj.CoreCompileInputs.cache
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.csproj.FileListAbsolute.txt
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.dll
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.GeneratedMSBuildEditorConfig.editorconfig
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.pdb
/PersonDirectory.Common.Application/obj/Debug/net8.0/PersonDirectory.Common.Application.sourcelink.json
/PersonDirectory.Common.Application/obj/Debug/net8.0/refint/PersonDirectory.Common.Application.dll
/PersonDirectory.Common.Application/obj/PersonDirectory.Common.Application.csproj.nuget.dgspec.json
/PersonDirectory.Common.Application/obj/PersonDirectory.Common.Application.csproj.nuget.g.props
/PersonDirectory.Common.Application/obj/PersonDirectory.Common.Application.csproj.nuget.g.targets
/PersonDirectory.Common.Application/obj/project.assets.json
/PersonDirectory.Common.Application/obj/project.nuget.cache
/PersonDirectory.Common.Application/bin/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Common.Application.deps.json
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Common.Application.dll
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Common.Application.pdb
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDirectory.Common.Application/bin/Debug/net8.0/PersonDirectory.Domain.pdb
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.AssemblyInfo.cs
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.AssemblyInfoInputs.cache
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.assets.cache
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.csproj.AssemblyReference.cache
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.csproj.FileListAbsolute.txt
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.GeneratedMSBuildEditorConfig.editorconfig
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory.Common/obj/Debug/net8.0/PersonDirectory.Common.sourcelink.json
/PersonDirectory.Common/obj/Debug/net8.0/refint/PersonDirectory.Common.dll
/PersonDirectory.Common/obj/PersonDirectory.Common.csproj.nuget.dgspec.json
/PersonDirectory.Common/obj/PersonDirectory.Common.csproj.nuget.g.props
/PersonDirectory.Common/obj/PersonDirectory.Common.csproj.nuget.g.targets
/PersonDirectory.Common/obj/project.assets.json
/PersonDirectory.Common/obj/project.nuget.cache
/PersonDirectory.Domain/bin/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDirectory.Domain/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory.Domain/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory.Domain/bin/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDirectory.Domain/bin/Debug/net8.0/PersonDirectory.Domain.pdb
/.vs/PersonDirectory/FileContentIndex/57233300-b485-4f61-a81f-dea31052f189.vsidx
/.vs/PersonDirectory/FileContentIndex/5c3f44cc-e678-499c-b998-2d35d4686cb5.vsidx
/.vs/PersonDirectory/FileContentIndex/5f26b729-2dd1-4623-af3c-d29856a772e9.vsidx
/.vs/PersonDirectory/FileContentIndex/7d63ff64-5aad-4a76-b9fa-d7988dbed2af.vsidx
/.vs/PersonDirectory/FileContentIndex/9217db00-cf27-4d10-ba76-ad128977429f.vsidx
/.vs/PersonDirectory/FileContentIndex/992b4d86-fa11-47b4-861e-dcc438424773.vsidx
/.vs/PersonDirectory/FileContentIndex/a7f6a121-6822-45e7-97d9-19effc565fd2.vsidx
/.vs/PersonDirectory/FileContentIndex/c42410e4-4447-4861-931d-186da7e20a82.vsidx
/PersonDirectory.Common/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory.Common/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory.Common/obj/Debug/net8.0/ref/PersonDirectory.Common.dll
/PersonDirectory.Common.Application/obj/Debug/net8.0/ref/PersonDirectory.Common.Application.dll
/PersonDirectory.Domain/obj/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDictionary.Application/bin/Debug/net8.0/ka-GE/PersonDirectory.Application.resources.dll
/PersonDictionary.Application/bin/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Application.dll
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Application.pdb
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Common.Application.dll
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Common.Application.pdb
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDictionary.Application/bin/Debug/net8.0/PersonDirectory.Domain.pdb
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.AssemblyInfo.cs
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.AssemblyInfoInputs.cache
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.assets.cache
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.csproj.AssemblyReference.cache
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.csproj.CoreCompileInputs.cache
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.csproj.FileListAbsolute.txt
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.csproj.GenerateResource.cache
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.dll
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.GeneratedMSBuildEditorConfig.editorconfig
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.pdb
/PersonDictionary.Application/obj/Debug/net8.0/PersonDirectory.Application.sourcelink.json
/PersonDictionary.Application/obj/Debug/net8.0/refint/PersonDirectory.Application.dll
/PersonDictionary.Application/obj/PersonDirectory.Application.csproj.nuget.dgspec.json
/PersonDictionary.Application/obj/PersonDirectory.Application.csproj.nuget.g.props
/PersonDictionary.Application/obj/PersonDirectory.Application.csproj.nuget.g.targets
/PersonDictionary.Application/obj/project.assets.json
/PersonDictionary.Application/obj/project.nuget.cache
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.genruntimeconfig.cache
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.pdb
/PersonDirectory.Persistence/obj/Debug/net8.0/PersonDirectory.Persistence.sourcelink.json
/PersonDirectory.Persistence/obj/Debug/net8.0/refint/PersonDirectory.Persistence.dll
/PersonDirectory.Persistence/obj/PersonDirectory.Persistence.csproj.nuget.dgspec.json
/PersonDirectory.Persistence/obj/PersonDirectory.Persistence.csproj.nuget.g.props
/PersonDirectory.Persistence/obj/PersonDirectory.Persistence.csproj.nuget.g.targets
/PersonDirectory.Persistence/obj/project.assets.json
/PersonDirectory.Persistence/obj/project.nuget.cache
/PersonDirectory.Domain/obj/Debug/net8.0/ref/PersonDirectory.Domain.dll
/PersonDirectory.Infrastructure/obj/Debug/net8.0/ref/PersonDirectory.Infrastructure.dll
/PersonDirectory.Persistence/obj/Debug/net8.0/ref/PersonDirectory.Persistence.dll
/PersonDirectory/bin/Debug/net8.0/ka-GE/PersonDirectory.Application.resources.dll
/PersonDirectory/bin/Debug/net8.0/ka-GE/PersonDirectory.Domain.resources.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.API.deps.json
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.API.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.API.exe
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.API.pdb
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Application.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Application.pdb
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Common.Application.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Common.Application.pdb
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Common.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Common.pdb
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Domain.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Domain.pdb
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Infrastructure.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Infrastructure.pdb
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Persistence.dll
/PersonDirectory/bin/Debug/net8.0/PersonDirectory.Persistence.pdb
/PersonDirectory/obj/Debug/net8.0/ref/PersonDirectory.API.dll
/PersonDirectory/obj/Debug/net8.0/refint/PersonDirectory.API.dll
/PersonDirectory/obj/Debug/net8.0/apphost.exe
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.AssemblyInfo.cs
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.AssemblyInfoInputs.cache
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.assets.cache
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.csproj.AssemblyReference.cache
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.csproj.CoreCompileInputs.cache
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.csproj.FileListAbsolute.txt
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.dll
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.GeneratedMSBuildEditorConfig.editorconfig
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.genruntimeconfig.cache
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.pdb
/PersonDirectory/obj/Debug/net8.0/PersonDirectory.API.sourcelink.json
/PersonDirectory/obj/PersonDirectory.API.csproj.nuget.dgspec.json
/PersonDirectory/obj/PersonDirectory.API.csproj.nuget.g.props
/PersonDirectory/obj/PersonDirectory.API.csproj.nuget.g.targets
/PersonDirectory/obj/project.assets.json
/PersonDirectory/obj/project.nuget.cache
/.vs/PersonDirectory/config/applicationhost.config
/PersonDictionary.Application/obj/Debug/net8.0/ka-GE/PersonDirectory.Application.resources.dll
/PersonDictionary.Application/obj/Debug/net8.0/ref/PersonDirectory.Application.dll
/.vs/PersonDirectory/v17/.suo
/.vs/PersonDirectory/v17/.wsuo
/.vs/PersonDirectory/v17/DocumentLayout.json
